<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / <%= title %>
</h1>
<p>Name : <%=user.name%></p>
<p>Email : <%=user.email%></p>
<p>
<form action="/user/sign-out" method="POST">
    <input type="submit" value="sign-out">
</form>
</p>